# ---- Mental Health Chatbot Configuration ----

# OpenAI API
OPENAI_API_KEY=your_api_key
MAIN_MODEL=gpt-4o


# HuggingFace Emotion Model
SENTIMENT_MODEL=j-hartmann/emotion-english-distilroberta-base

# App
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

# LLM Parameters
LLM_TEMPERATURE=0.7
LLM_MAX_TOKENS=1000

# Memory
MEMORY_WINDOW_SIZE=20

# MongoDB
MONGODB_URL=mongodb_connection
